#info-dialog p {
    text-align: center;
}

#info-dialog .highlight {
    padding: 1rem;
    border: 1px solid red;
}

#info-dialog pre {
    max-width: 19rem;
    border-radius: 1rem;
    margin: 0 auto 1rem;
}